.oreBuyback {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;

  .header {
    width: 100%;

    .title {
      text-align: center;
      font-size: 26px;
    }
  }

  .results {
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
  }
}

.noPilotNames {
  margin-top: 50px;

  button {
    width: 50px;
    margin-right: 10px;
  }
}
