.awaitingApproval {
  margin-top: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.adminList {
  list-style-type: none;
  padding: 0;
}

%admin {
  padding: 5px 0;
}

.adminPrimary {
  @extend %admin;
  font-weight: bold;
}

.adminSecondary {
  @extend %admin;
  font-style: italic;
}
