.header {
  text-align: center;
  margin: 0;
}

.field {
  margin: 20px 0;
  width: 250px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  .button {
    width: 100%;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.form {
  width: 250px;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red-lighter);
  margin-bottom: 5px;
}
