.form {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.field {
  margin: 10px;
}

.neededLabel {
  text-align: right;
}

.neededCheckbox {
  margin: 0 25px;
}

.resources {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.record {
  display: flex;
  align-items: center;
}

.submitBtn {
  margin: 10px 0 10px;
}
