.prices {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.forms {
  display: flex;
  justify-content: center;
  max-width: 672px;
  margin: 0 auto;
}

@media screen and (max-width: 672px) {
  .forms {
    flex-direction: column;
    max-width: 268px;
  }
}
