.oreBuyback {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .content {
    display: flex;
    overflow: hidden;
    padding: 10px;
  }

  .efficiencyDesktop {
    width: 50%;
    margin-right: 40px;
  }

  .efficiencyMobile {
    display: none;
  }

  .buyback {
    margin-top: 58px;
  }

  .results {
    height: 100%;
    width: 100%;
    max-width: 650px;
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
  }
}

.noPilotNames {
  margin-top: 50px;

  button {
    width: 50px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
    align-items: center;

    .buyback {
      margin-top: 20px;
    }

    .efficiencyDesktop {
      display: none;
    }

    .efficiencyMobile {
      display: block;
    }
  }
}
