@import "../../../styles/mixins";

.inputArray {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 5px;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
}

.add {
  flex: 1 0 auto;
}

.remove {
  visibility: hidden;
  width: auto;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-red);
  padding: 2px 1px;
  margin-right: 10px;

  &:hover {
    color: var(--color-red-lighter);
  }

  @include box-shadow(
    var(--box-shadow-red-hover),
    var(--box-shadow-blue-active)
  );

  &.removeable {
    visibility: visible;
  }
}
