@import "../../styles/mixins";

.form {
  width: 250px;
}

.field {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 100%;
  margin-bottom: 5px;
}

.or {
  text-align: center;
  margin: 10px 0;
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red-lighter);
  margin-bottom: 5px;
}

.forgotPassword {
  color: var(--color-text-white);
  cursor: pointer;
  padding: 2px;
  text-decoration: none;

  @include box-shadow(
    var(--box-shadow-red-hover),
    var(--box-shadow-red-active)
  );
}
