@import "../../styles/mixins";

.slideDown {
  background-color: var(--color-darkred-darker);
  width: 100%;

  .content {
    height: 0;
    overflow: hidden;
    padding: 0px;
  }

  &.open {
    .content {
      height: auto;
      overflow: visible;
      padding: 10px;
    }
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-darkred-darker);
    cursor: pointer;

    @include box-shadow(
      var(--box-shadow-red-hover),
      var(--box-shadow-red-active)
    );
  }
}
