.oreBuybackList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tables {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.activeOrders,
.inactiveOrders {
  margin: 0 10px;
  height: 100%;
}

@media screen and (max-width: 975px) {
  .tables {
    flex-direction: column;
  }

  .activeOrders,
  .inactiveOrders {
    margin: 0 0 10px;
    height: 50%;
  }
}
