.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  flex-direction: column;
}

.title {
  font-size: 30px;
  margin-bottom: 50px;
}

.logo {
  height: 160px;
  width: 160px;
  margin: 20px 50px 0 0;
}

.formContainer {
  display: flex;
  align-items: center;
}

.form {
  width: 250px;
}

@media screen and (max-width: 672px) {
  .formContainer {
    flex-direction: column;
  }

  .title {
    font-size: 26px;
  }

  .logo {
    margin: 0 0 20px 0;
  }
}

.field {
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;

  .button {
    width: 100%;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.errorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red-lighter);
  margin-bottom: 5px;
}
